body {
  padding-top: 20px;
  font-family: Raleway sans-serif;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  .cell-alive {
    height: 100px;
    width: 100px;
    border-color: black;
    border-width: 2px;
    background-color: white;
    margin: 5px 5px
  }

  .cell-dead {
    height: 100px;
    width: 100px;
    border-color: black;
    border-width: 2px;
    background-color: black;
    margin: 5px 5px
  }

  .grid {
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }
  .control-button-container {

  }
